{
  "log": {
    "_recordingName": "renders the submit a change page",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "69455553d6fb64a66e51968ffeae6f7c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "accept-version",
              "value": "1.0.0"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.webflow.com/collections/5e7a88e0ded78464ab263c6c/items"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 23121,
            "text": "{\"items\":[{\"_archived\":false,\"_draft\":false,\"name\":\"Uxbridge\",\"slug\":\"uxbridge\",\"site\":\"5ea5c7bf52344847b530de6c\",\"updated-on\":\"2020-04-30T20:02:20.097Z\",\"updated-by\":\"Collaborator_5ea5c6d98ad6b633bc99b428\",\"created-on\":\"2020-04-30T20:01:04.198Z\",\"created-by\":\"Collaborator_5ea5c6d98ad6b633bc99b428\",\"published-on\":\"2020-05-01T13:24:06.720Z\",\"published-by\":\"Collaborator_5ea729519d8342f94cd8f2c2\",\"_cid\":\"5e7a88e0ded78464ab263c6c\",\"_id\":\"5eab2e80bb858839aca2cc2d\"},{\"_archived\":false,\"_draft\":false,\"name\":\"Scugog\",\"slug\":\"scugog\",\"site\":\"5ea5c7bf52344847b530de6c\",\"updated-on\":\"2020-04-30T20:02:27.694Z\",\"updated-by\":\"Collaborator_5ea5c6d98ad6b633bc99b428\",\"created-on\":\"2020-04-30T20:00:52.113Z\",\"created-by\":\"Collaborator_5ea5c6d98ad6b633bc99b428\",\"published-on\":\"2020-05-01T13:24:06.720Z\",\"published-by\":\"Collaborator_5ea729519d8342f94cd8f2c2\",\"_cid\":\[...]
