{
  "log": {
    "_recordingName": "renders the homepage",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "ba2d636a65f5d2cc88fee64e7ff03aa2",
        "request": {
          "headers": [
            {
              "name": "x-algolia-application-id",
              "value": "BP6X6YAZSL"
            },
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "{\"requests\":[{\"indexName\":\"prod_businesses\",\"params\":\"highlightPreTag=%3Cais-highlight-0000000000%3E&highlightPostTag=%3C%2Fais-highlight-0000000000%3E&facets=%5B%5D&tagFilters=\"}]}"
          },
          "queryString": [
            {
              "name": "x-algolia-agent",
              "value": "Algolia for JavaScript (4.2.0); Node.js (13.7.0); JS Helper (3.1.1); react (16.13.1); react-instantsearch (6.4.0); react-instantsearch-server (6.4.0)"
            }
          ],
          "url": "https://bp6x6yazsl-dsn.algolia.net/1/indexes/*/queries?x-algolia-agent=Algolia%20for%20JavaScript%20%284.2.0%29%3B%20Node.js%20%2813.7.0%29%3B%20JS%20Helper%20%283.1.1%29%3B%20react%20%2816.13.1%29%3B%20react-instantsearch%20%286.4.0%29%3B%20react-instantsearch-server%20%286.4.0%29"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 53184,
            "text": "{\"results\":[{\"hits\":[{\"phone-number\":\"(613) 321-6113\",\"_archived\":false,\"name\":\"Aljazeera Food and Meat Market\",\"story\":\"<p>International grocery with a Halal butcher shop in the back. Known for its impressive array of rice, lentils, couscous, spices, and pickles - as well as its beautiful cuts of meat. Currently open with limited hours and enforcing a 10-person maximum.</p>\",\"slug\":\"aljazeerah\",\"image-blurhash\":\"UPF5~o9YxbR5~DDitRRj?HD$tSV@-;nhbIRj\",\"site\":\"5e9b8391feaebda50a6468b9\",\"updated-on\":\"2020-04-19T13:58:25.840Z\",\"published-on\":\"2020-04-19T14:37:44.245Z\",\"location\":\"Wellington West\",\"landingPageOnly\":false,\"header_image\":\"https://uploads-ssl.webflow.com/5e7a31dd4dd99431944fbd08/5e9b8bba7fc38e18b8246400_5e82c9e8c391a86875ad2ab1_aljazeera1.jpeg\",\"tags\":[],\"randomPriority\":0.997050834975872,\"category\":[\"Grocery\"],\"objectID\":\"5e7e71af9ea6d15bd9fe5e9e\",\"_highlightResult\":{\"phone-number\":{\"value\":\"(613) 321-6113\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"name\":{\"value\":\"Aljazeera Food and Meat Market\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"story\":{\"value\":\"<p>International grocery with a Halal butcher shop in the back. Known for its impressive array of rice, lentils, couscous, spices, and pickles - as well as its beautiful cuts of meat. Currently open with limited hours and enforcing a 10-person maximum.</p>\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"location\":{\"value\":\"Wellington West\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"category\":[{\"value\":\"Grocery\",\"matchLevel\":\"none\",\"matchedWords\":[]}]}},{\"grubhub\":false,\"website\":\"https://ivonnesanchez.com\",\"delivery\":true,\"seamless\":false,\"_archived\":false,\"door-dash\":false,\"postmates\":false,\"uber-eats\":false,\"facebook-page\":\"https://www.facebook.com/IvonneSanchezBeauty/\",\"gift-card-link\":\"https://squareup.com/gift/D676GTATZR97N/order\",\"instagram-profile\":\"https://www.instagram.com/ivonnesanchezbeauty/\",\"twitter-profile\":\"https://twitter.com/ivonnesanchez__\",\"online-store-link\":\"https://www.instagram.com/ivonnesanchezbeauty/\",\"name\":\"Ivonne Sanchez Beauty\",\"story\":\"A permanent makeup and beauty clinic located on historic Sparks Street. Known for creating hyper-realistic eyebrow tattoo; unbelievable lip blush tattoo, and well-defined eyeliner tattoo.\",\"slug\":\"ivonne-sanchez-beauty\",\"image-blurhash\":\"UOMY]9nN?^kW-orrR*WDjYV?S5sCVsr?M{X7\",\"site\":\"5e9b8391feaebda50a6468b9\",\"updated-on\":\"2020-04-19T13:43:25.861Z\",\"published-on\":\"2020-04-19T14:37[...]
