{
  "log": {
    "_recordingName": "renders the homepage",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "56e705b978c7ff01179495ada1a14c84",
        "request": {
          "headers": [
            {
              "name": "x-algolia-api-key",
              "value": "MjA2ZmRjMWQxZTliNThkMGM1ZDcyMTMzY2MyZmQ3ZWI2ODRiODMxODRjMDdhMDNiZWUwNGU1Y2ZlYmQyNmNmN2ZpbHRlcnM9c2l0ZSUzQTVlOWI4MzkxZmVhZWJkYTUwYTY0NjhiOQ=="
            },
            {
              "name": "x-algolia-application-id",
              "value": "BP6X6YAZSL"
            },
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "{\"requests\":[{\"indexName\":\"prod_businesses\",\"params\":\"highlightPreTag=%3Cais-highlight-0000000000%3E&highlightPostTag=%3C%2Fais-highlight-0000000000%3E&facets=%5B%5D&tagFilters=\"}]}"
          },
          "queryString": [
            {
              "name": "x-algolia-agent",
              "value": "Algolia for JavaScript (4.2.0); Node.js (13.7.0); JS Helper (3.1.1); react (16.13.1); react-instantsearch (6.4.0); react-instantsearch-server (6.4.0)"
            }
          ],
          "url": "https://bp6x6yazsl-dsn.algolia.net/1/indexes/*/queries?x-algolia-agent=Algolia%20for%20JavaScript%20%284.2.0%29%3B%20Node.js%20%2813.7.0%29%3B%20JS%20Helper%20%283.1.1%29%3B%20react%20%2816.13.1%29%3B%20react-instantsearch%20%286.4.0%29%3B%20react-instantsearch-server%20%286.4.0%29"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 86477,
            "text": "{\"results\":[{\"hits\":[{\"website\":\"https://www.thegiftedtype.com\",\"phone-number\":\"613-233-9651\",\"delivery\":true,\"_archived\":false,\"facebook-page\":\"https://www.facebook.com/thegiftedtype/\",\"gift-card-link\":\"https://www.thegiftedtype.com/products/gift-card?_pos=1&_sid=2b4617aa6&_ss=r\",\"instagram-profile\":\"https://www.instagram.com/thegiftedtype/\",\"twitter-profile\":\"https://twitter.com/thegiftedtype\",\"online-store-link\":\"https://www.thegiftedtype.com\",\"name\":\"The Gifted Type\",\"story\":\"<p>Here at The Gifted Type, we take fun seriously and believe that humour and imagination should be woven into our daily lives. We offer a variety of cards, prints and gifts for children and adults.</p>\",\"slug\":\"the-gifted-type\",\"image-blurhash\":\"UJN^bu*05rt8O%pY00xu4:.2,*ad%ER*NEt5\",\"site\":\"5e9b8391feaebda50a6468b9\",\"updated-on\":\"2020-04-19T13:58:29.191Z\",\"published-on\":\"2020-04-19T14:37:44.245Z\",\"location\":\"Centretown & Golden Triangle\",\"landingPageOnly\":false,\"header_image\":\"https://uploads-ssl.webflow.com/5e7a31dd4dd99431944fbd08/5e9b90945bf15502f4e3a7e3_5e7abec7292240f1a4a87c3e_Gifted%2520Type.png\",\"tags\":[],\"randomPriority\":0.997060400907579,\"category\":[\"Retail\"],\"scrapedKeywords\":[\"colour\",\"jellycat\",\"plush\",\"perfect\",\"suitable\",\"hilarious\",\"sections\",\"contests\",\"edward island\",\"templates\",\"knew\",\"puzzle\",\"rebel girls\",\"stuart atkinson\",\"fun floor puzzle\",\"novice or experienced\",\"ocean animals\",\"novice\",\"goodnight\",\"girls vol.\",\"board book\",\"set\",\"prince edward\",\"cards are hilarious\",\"babylit board\",\"fool\",\"rebel\",\"coloured\",\"prompts\",\"friend\",\"height\",\"rebel girls vol.\",\"girls\",\"drawing\",\"updates on contests\",\"create\",\"soft\",\"stories for rebel\",\"reasons to panic\",\"therapist\",\"prince edward island\",\"babies\",\"babylit\",\"colourful\",\"promotions\",\"years\",\"learn\",\"masterpieces\",\"wipe\",\"panic\",\"animals\",\"minimalist designs fool\",\"anne and explore\",\"sapling press\",\"designs fool\",\"reassuring friend\",\"shop\",\"ocean\",\"reasons\",\"minimalist designs\",\"sapling press cards\",\"book\",\"reassuring\",\"press\",\"busy\",\"graphic\",\"touch\",\"fun floor\",\"explore prince edward\",\"fun\",\"press cards\",\"cards\",\"floor\",\"stories\",\"floor puzzle\",\"studio series artist\",\"minimalist\",\"updates\",\"goodnight stories\",\"board\",\"sapling\",\"experienced\",\"sold\",\"jellycat line\",\"challenging\",\"brendan kearney felicity\",\"filling\",\"stickers\",\"subscribe for updates\",\"brendan kearney\",\"subscribe\",\"line\",\"amazing\",\"vol.\",\"designs\"],\"objectID\":\"5e7abf72e341890e0d090d48\",\"_highlightResult\":{\"website\":{\"value\":\"https://www.thegiftedtype.com\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"phone-number\":{\"value\":\"613-233-9651\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"facebook-page\":{\"value\":\"https://www.facebook.com/thegiftedtype/\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"gift-card-link\":{\"value\":\"https://www.thegiftedtype.com/products/gift-card?_pos=1&_sid=2b4617aa6&_ss=r\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"instagram-profile\":{\"value\":\"https://www.instagram.com/thegiftedtype/\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"twitter[...]
