.w-pagination-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.w-pagination-previous {
  display: block;
  color: #333;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #fafafa;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-color: #ccc;
  border-right-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}

.w-pagination-previous-icon {
  margin-right: 4px;
}

.w-pagination-next {
  display: block;
  color: #333;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #fafafa;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-color: #ccc;
  border-right-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}

.w-pagination-next-icon {
  margin-left: 4px;
}

.w-checkbox {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
}

.w-checkbox::before {
  content: " ";
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

.w-checkbox::after {
  content: " ";
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  clear: both;
}

.w-checkbox-input {
  float: left;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 4px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
  background-image: url("https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

body {
  background-color: #13141b;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "DM Serif Display", sans-serif;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "DM Serif Display", sans-serif;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "DM Serif Display", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "DM Serif Display", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "DM Serif Display", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

p {
  margin-bottom: 10px;
  font-family: "DM Sans", sans-serif;
}

a {
  color: #f2c94c;
  text-decoration: underline;
}

label {
  display: block;
  font-family: "DM Serif Display", sans-serif;
  font-weight: 700;
}

.side-panel {
  position: fixed;
  left: 0px;
  top: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  height: 100vh;
  padding: 75px 35px 35px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-right: 1px solid #fff;
  background-color: #13141b;
}

.image-2 {
  margin-bottom: 45px;
}

.text-link {
  margin-bottom: 35px;
  font-family: "DM Sans", sans-serif;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}

.text-link.w--current {
  color: #fff;
}

.caption {
  font-size: 12px;
  text-transform: uppercase;
}

.caption.margin {
  margin-top: 20px;
}

.content-row {
  position: relative;
  width: 100%;
  margin-top: 45px;
  clear: left;
}

.color-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 35px;
  padding: 25px 0px 15px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.small {
  font-size: 14px;
  text-transform: none;
}

.label {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  text-transform: none;
}

.container {
  width: 100%;
  max-width: 1300px;
  min-height: 50px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 36px;
  padding-left: 36px;
}

.very-small {
  font-size: 11px;
  line-height: 1.6em;
}

.primary {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 85px;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 4px;
  background-color: #13141b;
}

.heading-row {
  position: relative;
  width: 100%;
  margin-top: 25px;
  clear: left;
}

.rich-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}

.secondary {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 85px;
  padding: 10px;
  border-radius: 4px;
  background-color: #fff;
}

.heading-description {
  padding-top: 10px;
  padding-bottom: 0px;
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
}

.color-block-parent {
  width: 20%;
  margin-right: 20px;
}

.dark-section {
  position: relative;
  overflow: auto;
  width: 80%;
  padding-top: 75px;
  padding-bottom: 75px;
  float: right;
  background-color: #13141b;
  color: #fff;
}

.dark-block {
  width: 100%;
  margin-bottom: 15px;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 5px;
  background-color: #13141b;
}

.nav-bar {
  position: relative;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 30px;
}

.nav-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.brand-link {
  color: #fff;
  text-decoration: none;
}

.nav-link {
  margin-right: 25px;
  padding: 10px 20px;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
  font-family: "DM Serif Display", sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link:hover {
  opacity: 0.5;
}

.nav-link.w--current {
  font-weight: 400;
}

.nav-link.last {
  margin-right: 0px;
}

.nav-link.mobile-only {
  display: none;
}

.nav-link.important-nav-link {
  color: #f2c94c;
}

.hero-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.paragraph-container {
  margin-top: 15px;
}

.hero-paragraph {
  margin-bottom: 0px;
  text-align: center;
}

.form-cta {
  display: none;
  width: 100%;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
}

.small-link {
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
  font-family: "DM Sans", sans-serif;
  color: #002d62;
  text-decoration: underline;
}

.small-link:hover {
  opacity: 0.6;
}

.nav-link-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-content-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.card-parent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin-right: 0px;
  margin-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 10px;
  background-color: #1f2027;
}

.card-image {
  width: 100%;
  height: 250px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.card-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  min-height: 0px;
  padding: 25px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.name-and-category {
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
}

.support-methods {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 15px;
  padding-top: 5px;
  padding-bottom: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-top: 1px none hsla(0, 0%, 100%, 0.2);
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
}

.delivery-options {
  margin-top: 20px;
}

.all-caps {
  text-transform: uppercase;
}

.location {
  text-transform: uppercase;
}

.business-name {
  margin-top: 15px;
  margin-bottom: 5px;
  color: #fff;
  font-size: 30px;
  text-decoration: none;
}

.category {
  margin-right: 0px;
  margin-bottom: 0px;
  text-transform: uppercase;
}

.category.yellow {
  color: #f2c94c;
}

.category.green {
  color: #20c788;
}

.category.red {
  color: #db4b68;
}

.basic-info-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.separator {
  margin-right: 10px;
  margin-left: 10px;
}

.method {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 47px;
  margin-bottom: 11px;
  padding: 8px 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  background-color: #f2c94c;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font-family: "DM Sans", sans-serif;
  color: #13141b;
  text-decoration: none;
}

.method:hover {
  background-color: #13141b;
  color: #fff;
}

.method-text {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
}

.method-text.gc {
  margin-right: 3px;
  margin-left: 10px;
}

.information-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.delivery-method {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  min-height: 70px;
  padding: 15px 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-decoration: none;
}

.website-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.icon-wrapper {
  padding: 5px;
  color: #fff;
  min-width: 30px;
}

.info-text-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.info-text-wrapper.app-wrapper {
  padding-top: 5px;
}

.info-link {
  margin-left: 5px;
  padding: 0px;
  font-family: "DM Sans", sans-serif;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

.info-link.app-tile {
  margin-bottom: 8px;
  padding: 2px 5px;
  border-radius: 5px;
  background-color: #f2c94c;
  color: #13141b;
  font-size: 12px;
}

.info-link.app-tile.no-pointer {
  cursor: default;
}

.info-icon {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
}

.btn {
  padding: 10px 30px;
  border-style: solid;
  border-width: 1px;
  border-color: #f2c94c;
  border-radius: 5px;
  background-color: transparent;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  font-family: "DM Serif Display", sans-serif;
  color: #f2c94c;
}

.btn:hover {
  background-color: #f2c94c;
  color: #13141b;
}

.btn.filter-btn {
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.btn.filter-btn.jetboost-filter-active {
  background-color: #f2c94c;
  color: #13141b;
}

.btn.filter-btn.jetboost-filter-active:focus {
  background-color: #f2c94c;
  color: #13141b;
}

.btn.dlink {
  margin-right: 0px;
  margin-bottom: 0px;
  padding-right: 25px;
  padding-left: 25px;
  font-family: "DM Sans", sans-serif;
  text-align: center;
}

.btn.dlink.w--current {
  background-color: #f2c94c;
  color: #13141b;
}

.input {
  margin-bottom: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-style: none none solid;
  border-width: 1px;
  border-color: #000 #000 #f2c94c;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: hsla(0, 0%, 100%, 0.1);
  font-family: "DM Sans", sans-serif;
  color: #fff;
}

.input:hover {
  border-style: none none solid;
  border-color: #000 #000 #fff;
  border-bottom-width: 1px;
}

.input:active {
  border-bottom: 1px solid #fff;
}

.input:focus {
  border-bottom: 1px solid #fff;
}

.input::-webkit-input-placeholder {
  color: hsla(0, 0%, 100%, 0.7);
  font-weight: 500;
}

.input:-ms-input-placeholder {
  color: hsla(0, 0%, 100%, 0.7);
  font-weight: 500;
}

.input::-ms-input-placeholder {
  color: hsla(0, 0%, 100%, 0.7);
  font-weight: 500;
}

.input::placeholder {
  color: hsla(0, 0%, 100%, 0.7);
  font-weight: 500;
}

.input.search {
  width: 300px;
  margin-bottom: 0px;
}

.input.search.jetboost-list-search-input-ern4 {
  border-bottom: 1px solid #f2c94c;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.checkbox {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  border-style: solid;
  border-color: #f2c94c;
  cursor: pointer;
}

.checkbox:hover {
  border-style: solid;
  border-width: 1px;
  border-color: #f2c94c;
}

.checkbox:active {
  border-style: solid;
  border-width: 1px;
  border-color: #f2c94c;
  border-radius: 2px;
}

.checkbox.w--redirected-checked {
  border-style: solid;
  border-width: 1px;
  border-color: #f2c94c;
  background-color: #f2c94c;
  background-image: url("../images/Checkbox.svg");
}

.checkbox.w--redirected-focus {
  border-style: solid;
  border-width: 1px;
  border-color: #f2c94c;
  box-shadow: 0 0 3px 1px #f2c94c;
}

.tertiary {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 85px;
  padding: 10px;
  border-radius: 4px;
  background-color: #f2c94c;
}

.checkbox-label {
  margin-top: 3px;
}

.narrow-container {
  width: 100%;
  max-width: 625px;
  margin-right: auto;
  margin-left: auto;
}

.form-field.select-field.wide {
  height: 49px;
  margin-bottom: 20px;
  padding-top: 13px;
  border-style: solid;
  border-width: 1px;
  border-color: #f2c94c;
  border-radius: 5px;
  background-color: #fff;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}

.form-field.select-field.wide.http {
  width: 100px;
  height: 51px;
  margin-right: 10px;
}

.checkbox-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.checkbox-field {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.description-text-form {
  margin-bottom: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
}

.label-with-description {
  margin-bottom: 0px;
}

.success {
  min-height: 450px;
  border-radius: 5px;
  background-color: #f2c94c;
  font-family: "DM Sans", sans-serif;
  color: #13141b;
  font-weight: 700;
}

.success-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  min-height: 450px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.lottie-animation {
  width: 80px;
  margin-bottom: 15px;
}

.error-message {
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 5px;
  background-color: #ff3332;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
}

.comma {
  margin-right: 0px;
  margin-left: 0px;
  font-family: "DM Sans", sans-serif;
  color: #fff;
  text-decoration: none;
}

.delivery-service {
  margin-left: 5px;
  font-family: "DM Sans", sans-serif;
  color: #fff;
  text-decoration: none;
}

.listing-section {
  padding-top: 45px;
  padding-bottom: 45px;
}

.business-list {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.method-text-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.popover {
  position: absolute;
  left: auto;
  top: 23%;
  right: 0%;
  bottom: auto;
  z-index: 2;
  display: none;
  padding: 20px;
  border-radius: 5px;
  background-color: #404040;
}

.special-instructions-paragraph {
  font-size: 12px;
}

.special-instructions-mobile {
  display: none;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid hsla(0, 0%, 100%, 0.2);
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
}

.special-instructions-mobile-paragraph {
  font-size: 12px;
}

.business-item {
  margin-bottom: 75px;
}

.collection-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.filters-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.filters-wrapper {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.submit-button {
  display: none;
}

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-paragraph {
  margin-top: 24px;
  margin-bottom: 0px;
  text-align: center;
}

.footer-link {
  color: #f2c94c;
}

.footer-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-image {
  width: 40px;
  margin-top: 23px;
  margin-bottom: 25px;
}

.empty {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 400px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  background-color: #f2c94c;
  font-family: "DM Sans", sans-serif;
  color: #13141b;
  font-weight: 500;
}

.empty-link {
  color: #13141b;
}

.empty-link:hover {
  text-decoration: none;
}

.dropdown-menu.w--open {
  left: -185px;
  width: auto;
  padding: 24px 25px;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 100%, 0.5);
  border-radius: 5px;
  background-color: #13141b;
}

.collection-list-2 {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.web-address-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.icon-image {
  width: 30px;
  margin-right: 20px;
}

.icon-image.card {
  margin-bottom: -5px;
}

.icon-image.merch {
  margin-bottom: -5px;
}

.div-block-3 {
  padding-bottom: 10px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
}

.paragraph-link {
  color: #fff;
}

.html-embed {
  margin-bottom: 20px;
}

.heading-2 {
  text-align: center;
}

.heading-3 {
  text-align: center;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-2 {
  margin-top: 20px;
}

.link {
  color: #f2c94c;
}

.business-name-link-block {
  text-decoration: none;
}

.business-name-link-block:hover {
  color: #fff;
  text-decoration: underline;
}

.image-3 {
  color: #fff;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.empty-state {
  background-color: transparent;
}

.text-block {
  text-align: center;
}

.nav-social-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  font-size: 18px;
}

.nav-social-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
}

.div-block-4 {
  width: 12px;
}

@media screen and (max-width: 991px) {
  .side-panel {
    position: relative;
    width: 100%;
    height: auto;
    padding: 25px 10px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .image-2 {
    margin-right: 10px;
    margin-bottom: 0px;
  }
  .text-link {
    margin-right: 50px;
  }
  .dark-section {
    overflow: visible;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    float: none;
    clear: left;
  }
  .nav-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .nav-link {
    font-size: 14px;
  }
  .main-content-wrapper {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .card-parent {
    width: 100%;
  }
  .btn.filter-btn {
    margin-right: 0px;
    margin-left: 0px;
  }
  .input.search.jetboost-list-search-input-ern4 {
    width: 100%;
  }
  .business-list {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .jetboost-filter-ejb3 {
    width: 100%;
  }
  .filters-list {
    width: 100.089368%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .filters-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .text-filter-wrapper {
    width: 100%;
    margin-bottom: 10px;
  }
  .collection-list-3 {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .jetboost-filter-5xkm {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    letter-spacing: -1px;
  }
  h3 {
    margin-top: 10px;
    letter-spacing: -1px;
  }
  .side-panel {
    overflow: auto;
    padding-right: 35px;
    padding-bottom: 0px;
  }
  .container {
    padding-right: 28px;
    padding-left: 28px;
  }
  .nav-bar {
    padding-bottom: 0px;
  }
  .nav-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .nav-link {
    margin-right: 15px;
    margin-left: 15px;
    font-family: "DM Sans", sans-serif;
  }
  .nav-link.last {
    margin-right: 15px;
  }
  .nav-link.mobile-only {
    display: block;
  }
  .nav-link-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .card-parent {
    width: 100%;
    height: auto;
    margin-right: 0px;
    margin-left: 0px;
  }
  .card-content {
    min-height: auto;
  }
  .info-icon {
    display: none;
  }
  .btn.dlink.mmennu {
    width: 100%;
  }
  .input {
    font-size: 16px;
  }
  .input::-webkit-input-placeholder {
    font-size: 14px;
  }
  .input:-ms-input-placeholder {
    font-size: 14px;
  }
  .input::-ms-input-placeholder {
    font-size: 14px;
  }
  .input::placeholder {
    font-size: 14px;
  }
  .checkbox-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .checkbox-field {
    margin-bottom: 15px;
  }
  .business-list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .special-instructions-mobile {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .jetboost-filter-ejb3 {
    display: block;
  }
  .filters-list {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .collection-item {
    margin-left: 9px;
  }
  .collection-list-3 {
    display: -ms-grid;
    display: grid;
    margin-top: 22px;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .dropdown {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .color-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .primary {
    width: 100%;
    height: 55px;
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .secondary {
    width: 100%;
    height: 55px;
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .color-block-parent {
    width: 30%;
    margin-right: 3%;
  }
  .nav-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .brand-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav-link {
    margin-right: 2px;
    margin-left: 2px;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 12px;
  }
  .nav-link.last {
    margin-right: 0px;
  }
  .nav-link-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 4px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .card-parent {
    margin-right: 0px;
    margin-left: 0px;
  }
  .support-methods {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .delivery-options {
    padding-bottom: 10px;
  }
  .method {
    width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .btn.filter-btn {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 12px;
    text-align: center;
  }
  .btn.dlink.mmennu {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 12px;
  }
  .input.search.jetboost-list-search-input-ern4 {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    font-size: 16px;
  }
  .input.search.jetboost-list-search-input-ern4::-webkit-input-placeholder {
    font-size: 12px;
  }
  .input.search.jetboost-list-search-input-ern4:-ms-input-placeholder {
    font-size: 12px;
  }
  .input.search.jetboost-list-search-input-ern4::-ms-input-placeholder {
    font-size: 12px;
  }
  .input.search.jetboost-list-search-input-ern4::placeholder {
    font-size: 12px;
  }
  .tertiary {
    width: 100%;
    height: 55px;
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .filters-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .collection-item {
    width: 41%;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
  }
  .footer {
    padding-right: 24px;
    padding-left: 24px;
  }
  .empty {
    text-align: center;
  }
  .collection-list-3 {
    margin-top: 22px;
  }
  .heading {
    text-align: center;
  }
  .hero-heading {
    font-size: 32px;
    line-height: 38px;
  }
}
